#csse3012 
# Validation and Verification
___
### Overview
- Validation - Are we building the right product?
	- validate requirements
- Verification - Are we building the product right?
	- discover defects
- V&V Confidence
	- Level of confidence
- <span style="color: white; background-color: red ; padding-left: 5px; padding-right: 5px; border: 1px solid red;">
Testing vs Quality Management 
</span>
	- Quality Management **ensures** quality
	- Testing provides an **indication** of quality

___
### Stages of Testing
- Development Testing
	- Unit
	- Integration
	- System - Dev team
- Release Testing - Seperate team
	- black-box testing
- User Testing
	- alpha, beta, acceptance

___
### Types of Testing
- Scenario testing
- Use Case testing
- Performance testing

___

___
[[Week 10 - V&V(1).pdf]]